{% extends 'blog/base.html' %}


{% block content %}
<div class="jumbotron">
  <h2>Please Login:</h2>
  <h5>(PS:You must be from simons lane) </h5>


  {% if form.errors %}
    <p>Your Username and Password Dint Match ! Try Again</p>
  {% endif %}

  <form action ="{% url 'login' %}" method="POST">
    {% csrf_token %}
      {{form.as_p}}
      <input type="submit" class="btn btn-primary" value="Login">
      <input type = "hidden" name="next" value="{{next}}">
      </form>
    </div>
{% endblock %}
